@{
    ViewBag.Title = "iQ media Dashboard";

    if (!string.IsNullOrEmpty(Request.QueryString["source"]))
    {
        Layout = null;
    
    <script src="~/Scripts/jquery-1.9.1.min.js?v=1.0" type="text/javascript"></script>
    <script src="~/Scripts/jquery.placeholder.min.js?v=1.0" type="text/javascript"></script>
    <link href="~/Css/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="../../Css/Fonts.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/jquery.mCustomScrollbar.css?v=1.0" rel="stylesheet" type="text/css" />
    <!-- Le styles -->
    <link href="~/Css/bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- Customizable CSS -->
    <link href="~/Css/feed.css?v=3.2" rel="stylesheet" type="text/css" />
    <link href="~/Css/MasterInner.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/jquery-ui.min.js?v=1.0" type="text/javascript"></script>
    <script src="~/Scripts/ConstantScript.js?v=1.7" type="text/javascript"></script>
    
    <script src="~/Scripts/IQMediaCommon.js?v=3.0" type="text/javascript"></script>

    <script type="text/javascript">
        var _urlVideoMetaData = '@System.Configuration.ConfigurationManager.AppSettings["UrlGetVideoMetaData"]';
        var _urlVideoNielsenData = '@System.Configuration.ConfigurationManager.AppSettings["UrlGetVideoNielSenData"]';
        var _urlVideoThumb = '@System.Configuration.ConfigurationManager.AppSettings["UrlGenerateVideoRawMediaThumb"]';
        var _urlVideoCategory = '@System.Configuration.ConfigurationManager.AppSettings["UrlGetVideoCategoryData"]';
        var _urlVideoCreateClip = '@System.Configuration.ConfigurationManager.AppSettings["UrlCreateMediaClip"]';
        var _urlClipThumbgen = '@System.Configuration.ConfigurationManager.AppSettings["UrlGenerateMediaClipThumbnail"]';
        var _urlClipExport = '@System.Configuration.ConfigurationManager.AppSettings["UrlExportMediaClip"]';
        var _urlClipIOSExport = '@System.Configuration.ConfigurationManager.AppSettings["UrlExportIOSMediaClip"]';
        var _urlClipTimeSync = '@System.Configuration.ConfigurationManager.AppSettings["UrlClipTimeSync"]';
        var _MaxEmailAdressAllowed = @System.Configuration.ConfigurationManager.AppSettings["MaxDefaultEmailAddress"];
    </script>
    
    <style type="text/css">
        body
        {
            /*padding-top: 59px;*/ /*padding-bottom: 40px;*/
            padding: 0px !important;
            font-family: 'Open Sans';
        }
        
        .container
        {
            width: 100% !important;
        }
        
        .container_custom
        {
            margin-top: 0px;
        }
        
        .minheight500
        {
            height: 100%;
        }
    </style>
    <!--[if IE 7]>
    <style>
    .container {
    width:1280px;
    }
    .btn-group {
    float:left;
    }
    
    .action {
    float:right;
    }
    .media-heading {
    width:95%;
    display:block;
    }
    </style>
<!--<![endif]-->
    <!--[if IE 8]>
<style>
    .container {
        width:1280px;
    }
    .media-heading {
    width:90%;
    }
</style>
<!--<![endif]-->
    <link href="~/Css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js?v=1.0"></script>
      <script src="~/Scripts/respond.min.js"></script>
    <!--<![endif]-->
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png" />    
    }
    else
    {
        Layout = "~/Views/Shared/_IQMediaMasterInner.cshtml";
    }
}
@using IQMedia.Model;
@model Dictionary<string, object>
@{
    
    IQMedia.Model.ActiveUser sessionInformation = IQMedia.WebApplication.Utility.ActiveUserMgr.GetActiveUser();
}

<script type="text/javascript" src="~/Scripts/Dashboard.js?v=4.2"></script>
<link href="~/Css/Dashboard.css?v=1.6" type="text/css" rel="Stylesheet" />
<script src="~/Scripts/highcharts.js?v=1.1" type="text/javascript"></script>
<script src="~/Scripts/fusioncharts.js?v=1.0" type="text/javascript"></script>


<div class="container container_custom">
    <div class="row-fluid" id="divRowFluid">
        @if (ViewBag.IsSuccess)
        {
            if (string.IsNullOrEmpty(Request.QueryString["source"]))
            {
            <div class="span3 minheight500" id="divQuickFeedFinder">
                <div class="well sidebar-nav">
                    @*<a href="#" id="divSaveTweet" class="btn btn-success" rel="popover"> hover for popover</a>*@
                    <h5>
                        Narrow Results</h5>
                    <div class="navbar">
                        <ul role="navigation" class="nav floatNone sideMenuUl width100p">
                            <li class="nagent">
                                <a data-toggle="dropdown" class="dropdown-toggle" role="button" id="liSearchRequestFilter" href="#">
                                    Agent<span class="spnArrow">&nbsp;</span>
                                </a>
                                <ul aria-labelledby="drop2" role="menu" class="nav nav-stacked nav-dropdpwn top0" id="ulSearchRequest" style="display: none;">
                                    @{
                                        <li role="presentation" style="padding: 0px;">
                                            <ul class="sideMenu sub-submenu" aria-labelledby="drop2" role="menu">
                                                <li role="presentation" style="text-align: right">
                                                    <input type="button" value="Done" id="btnSearchRequest" class="button" style="margin: 0px"
                                                        onclick="SearchRequest();">
                                                </li>
                                            </ul>
                                        </li>
                                        <li role="presentation" style="padding: 0px;">
                                            <ul class="sideMenu sub-submenu" aria-labelledby="drop2" role="menu" id="ulSearchRequestList">
                                                @foreach (IQAgent_SearchRequestModel item in (List<IQAgent_SearchRequestModel>)Model["Agents"])
                                                {
                                                    <li role="presentation"><a id="areq_@item.ID" href="javascript:void(0)" onclick='SetSearchRequest(this,"@item.ID","@item.QueryName.Replace("\"", "\\\"")");' tabindex="-1" role="menuitem">
                                                        @item.QueryName
                                                    </a></li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                </ul>
                            </li>
                        </ul>
                        <div style="clear: both;">
                        </div>
                    </div>
                    <h5>
                        Sources</h5>
                    <div class="navbar">
                        <ul role="navigation" class="nav floatNone sideMenuUl width100p" id="ulMenu">
                            <li id="liOverview" class="dropdown Overview" onclick="GetDataMediumWise('Overview','Overview');">
                                <a data-toggle="dropdown" class="dropdown-toggle" role="button" id="drop2" href="#">
                                    Overview<span class="spnArrow">&nbsp;</span>
                                </a>
                            </li>
                            @{
                                                var mtList = sessionInformation.MediaTypes.Where(m => m.TypeLevel == 1 && m.HasAccess && !m.IsArchiveOnly && (sessionInformation.MediaTypes.Where(sm => sm.TypeLevel == 2 && string.Compare(sm.MediaType, m.MediaType, true) == 0 && sm.HasAccess).Count() > 0)).OrderBy(mts=>mts.SortOrder);
                                                foreach (var mt in mtList)
                                                {
                                <li class="dropdown" onclick="GetDataMediumWise('@mt.MediaType','@mt.DisplayName');" data-c-mt="@mt.MediaType" style="background:url('@mt.MediaIconPath') no-repeat 10px center;">
                                    <a data-toggle="dropdown" class="dropdown-toggle" role="button" href="javascript:void(0);">@mt.DisplayName<span
                                        class="spnArrow">&nbsp;</span></a> </li>
                                                }
                                
                            }
                            @if (Convert.ToBoolean(Model["UseClientSpecificData"]))
                            {
                                <li id="liClientSpecific" class="dropdown ClientSpecific" style="margin-top:50px; border-top:1px solid #ebebeb;" onclick="GetDataMediumWise('ClientSpecific','');">
                                    <a data-toggle="dropdown" class="dropdown-toggle" role="button" id="drop2" href="#">
                                        My Data
                                        <span class="spnArrow">&nbsp;</span>
                                    </a>
                                </li>
                            }
                        </ul>
                        <div style="clear:both;"></div>
                    </div>
                    @*Only display new dashboard reports for IQ client or Kye/JDerham logins*@
                    @if ((string.Compare(sessionInformation.ClientGUID.ToString(), "7722A116-C3BC-40AE-8070-8C59EE9E3D2A", true) == 0) || sessionInformation.CustomerKey == 1435 || sessionInformation.CustomerKey == 19)
                    {
                        <h5>Reports</h5>
                        <div class="navbar">
                            <ul id="ulReports" role="navigation" class="nav floatNone sideMenuUl width100p">
                                <li id="Cohorts_Overview" class="dropdown" onclick="GetOverviewReport(this);">
                                    <a data-toggle="dropdown" class="dropdown-toggle" role="button" id="" href="#">
                                        Overview
                                    </a>
                                </li>
                                <li id="Cohorts_Market" class="dropdown" onclick="GetOverviewReport(this)">
                                    <a data-toggle="dropdown" class="dropdown-toggle" role="button" id="" href="#">
                                        Markets
                                    </a>
                                </li>
                                <li id="Cohorts_Network" class="dopdown" onclick="GetOverviewReport(this)">
                                    <a data-toggle="dropdown" class="dropdown-toggle" role="button" id="" href="#">
                                        Networks
                                    </a>
                                </li>
                                <li id="Cohorts_Station" class="dropdown" onclick="GetOverviewReport(this)">
                                    <a data-toggle="dropdown" class="dropdown-toggle" role="button" id="" href="#">
                                        Stations
                                    </a>
                                </li>
                                <li id="Cohorts_Program" class="dropdown" onclick="GetOverviewReport(this)">
                                    <a data-toggle="dropdown" class="dropdown-toggle" role="button" id="" href="#">
                                        Programs
                                    </a>
                                </li>
                                <li id="Cohorts_Brand" class="dropdown" onclick="GetOverviewReport(this)">
                                    <a data-toggle="dropdown" class="dropdown-toggle" role="button" href="#">
                                        Brand
                                    </a>
                                </li>
                            </ul>
                        </div>
                    }
                </div>
                <!--/.well -->
                @*<input type="button" value="Search" id="btnSearchTimeshift" />*@
            </div>
            }
            <!--/span-->
            <div class="@(string.IsNullOrEmpty(Request.QueryString["source"]) ? "span9 span9-custom" : "")" id="divPrintableArea">
                <div class="row-fluid row-custom">
                    <!--/span-->
                    @*<div class="btn-group">
                    <a class="btn dropdown-toggle no-background" data-toggle="dropdown" href="#" id="aSortDirection">
                        Most Recent&nbsp;&nbsp;<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="cursorPointer"><a onclick="SortDirection(false);">Most Recent</a></li>
                        <li class="cursorPointer"><a onclick="SortDirection(true);">Older First</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <a class="btn dropdown-toggle no-background" data-toggle="dropdown" href="#" id="aDuration">
                        All&nbsp;&nbsp;<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="cursorPointer"><a onclick="GetResultOnDuration(0);">All</a></li>
                        <li class="cursorPointer"><a onclick="GetResultOnDuration(1);">Last 24 Hours</a></li>
                        <li class="cursorPointer"><a onclick="GetResultOnDuration(2);">Last Week</a></li>
                        <li class="cursorPointer"><a onclick="GetResultOnDuration(3);">Last Month</a></li>
                        <li class="cursorPointer"><a onclick="GetResultOnDuration(4);">Last 3 Months</a></li>
                        <li disabled><a>Custom</a></li>
                    </ul>
                </div>*@ @*<div class="pull-right action">
                    <div class="btn-group fleft">
                        <a class="btn dropdown-toggle no-background" data-toggle="dropdown" href="#">Action&nbsp;&nbsp;<span
                            class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a class="cursorPointer" onclick="RemoveTVResult();">Remove</a></li>
                        </ul>
                    </div>
                    <div class="select">
                        <label>
                            Select all</label><input id="chkInputAll" type="checkbox" onclick="checkUncheckAll('ulMediaResults','chkInputAll');" /></div>
                </div>*@
                </div>
                <!--/row-->
                <div id="divMessage" class="notificationdiv">
                    <span id="spnNotification"></span>
                </div>
                <div id="divActiveFilter" class="row-fluid filter">
                </div>
                @*<div style="clear: both;"></div>*@
                <div id="secondaryCohortNav" class="navbar" style="display:none;margin-bottom:0px;width:50%;float:left">
                    <span id="cohortIndsutryText" style="font-weight:bold;float:left;padding:5px;">Industry:&nbsp;</span>
                    <div id="cohortIndustryDrop" class="dropdown" style="float:left;padding-top:5px;">
                        <span id="cohortIndustryLink" class="cursorPointer" data-toggle="dropdown" role="button">
                            <span id="displayedIndustry">
                                @Model["DefaultCohort"]
                            </span>
                            <span class="spnArrow cohortArrowSpanOverride">&nbsp;</span>
                        </span>
                        <ul id="cohortList" class="dropdown-menu" style="margin-left:0px;left:105%;top:0%;width:200px;text-align:center;">
                            @foreach (var KvP in (Dictionary<long, string>)Model["IndustryCohorts"])
                            {
                                if (KvP.Value.Equals(Model["DefaultCohort"]))
                                {
                                    <li role="presentation" id='@string.Format("cohort_{0}", KvP.Key)' class="highlightedli cursorPointer" onclick="ChangeCohort(this)">@KvP.Value</li>
                                }
                                else
                                {
                                    <li role="presentation" id='@string.Format("cohort_{0}", KvP.Key)' class="cursorPointer" onclick="ChangeCohort(this)">@KvP.Value</li>
                                }
                            }
                        </ul>
                    </div>
                </div>
                <div style="clear: both;"></div>
                <div class="dashboardHeaderMainDiv">
                    <div class="pull-left dashboardHeader" id="divHeader">
                        @*Source Overview*@
                    </div>
                    <!-- Cohort List for Reports -->
                    <div id="cohortNavBar" class="navbar" style="display:none;margin-bottom:0px;width:50%;float:left;">
                        <div id="mainCohortNav" style="font-size:16px;">
                            <span id="cohortReportText" style="font-weight:bold;float:left;padding:5px;">Industry Overview:&nbsp;</span>
                            <div id="cohortReportDrop" class="dropdown" style="float:left;padding-top:5px;">
                                <span id="cohortReportLink" class="cursorPointer" data-toggle="dropdown" role="button">
                                    <span id="displayedReport">
                                        @Model["DefaultCohort"]
                                    </span>
                                    <span class="spnArrow cohortArrowSpanOverride">&nbsp;</span>
                                </span>
                                <div class="dropdown-menu cohortDropList">
                                    <ul id="cohortReportList" style="list-style:none;margin:0px;">
                                        @*@foreach (var KvP in (Dictionary<long, string>)Model["IndustryCohorts"])
                                        {
                                            if (KvP.Value.Equals(Model["DefaultCohort"]))
                                            {
                                                <li role="presentation" id='@string.Format("cohort_{0}", KvP.Key)' class="highlightedli cursorPointer" onclick="ChangeCohort(this)">@KvP.Value</li>
                                            }
                                            else
                                            {
                                                <li role="presentation" id='@string.Format("cohort_{0}", KvP.Key)' class="cursorPointer" onclick="ChangeCohort(this)">@KvP.Value</li>
                                            }
                                        }*@
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right">
                        <div class="float-left dashboardHeader" id="divDashboardUtility">
                            <img id="imgExcel" src="../../Images/excel.png" alt="Export to CSV" title="Export to CSV" class="cursorPointer" onclick="GetSonyExportData();" style="display:none; margin-top:-3px;" />
                            <img src="../../Images/Email.png" alt="Email" title="Email" class="cursorPointer"
                                onclick="ShowDashboardEmailPopup();" />
                            <img src="../../Images/pdf.png" alt="Save as PDF" title="Save as PDF" class="cursorPointer" onclick="GenerateDashboardPDF();" />
                            <span style="color: #3C3C3E;">|</span>
                        </div>
                        @if (Convert.ToBoolean(Model["HasThirdPartyDataAccess"]) && string.IsNullOrEmpty(Request.QueryString["source"]))
                        {
                            <img id="imgThirdParty" src="../../Images/Dashboard/setup.png" style="cursor:pointer; width:20px; float:right; padding:7px 7px 0px 0px" onclick="OpenThirdPartySeriesPopup();" title="Customize Data" />
                        }
                        <div id="divDateSelector" class="float-right displayNone textAlignCenter marginTop1 marginRight10 divDashboardDate">
                            <input type="text" id="dpFrom" readonly="readonly" class="@(string.IsNullOrEmpty(Request.QueryString["source"]) ? "dashboardDate" : "dashboardDatePopup")" />
                            <input type="text" id="dpTo" readonly="readonly" class="@(string.IsNullOrEmpty(Request.QueryString["source"]) ? "dashboardDate" : "dashboardDatePopup")" />
                        </div>
                    </div>
                </div>
                <div id="divMediumData">
                </div>
                <div id="divMuliLineChartData" class="clear">
                </div>
                <div id="divMainContent" class="mainContent">
                    <div class="row-fluid posts" id="ulTimeshiftResults">
                    </div>
                    <div align="center" id="divShowResult">
                    </div>
                    <div id="divResultMain" class="heightWidth0">
                        <div id="divResultHeader">
                        </div>
                        @* <div id="divMainContent" class="clear">
                        <div id="divResult" class="clear">
                        </div>
                    </div>*@
                    </div>
                    @* <div align="center" id="divShowResult">
                    <img src="../../Images/Loading_1.gif" class="marginRight10 displayNone" id="imgMoreResultLoading"
                        alt='' />
                    @{                  
                    
                        Int64 currentResults = (Convert.ToInt64(TempData["MaxTVResultID"]) + 1) * Convert.ToInt16(System.Configuration.ConfigurationManager.AppSettings["FeedPageSize"]);
                        if (currentResults >= Convert.ToInt64(TempData["TotalResults"]))
                        {
                        <input type="button" id="btnShowMoreResults" class="loadmore" value="No More Results" />
                        }
                        else
                        {
                        <input type="button" id="btnShowMoreResults" class="loadmore" onclick="GetMoreResults();"
                            value="Show More Results" />
                        }
                    }
                </div>*@
                </div>
            </div>
            <!--/span-->
        }
        else
        {
            <div class="mainerrorDiv">@IQMedia.WebApplication.Config.ConfigSettings.Settings.PageLoadErrorMessage</div>
        }
    </div>
    <!--/row-->
</div>
@if (ViewBag.IsSuccess)
{
    <div id="divEmailPopup" class="modal fade hide resizable modalPopupDiv">
        <div class="closemodalpopup">
            <img id="imgCloseEmalilPopup" src="~/images/close-icon.png" alt="close" class="popup-top-close"
                onclick="CancelEmailpopup();" /></div>
        <div style="padding: 20px 20px 0px 20px;">
            <input type="hidden" id="hdnDefaultSender" value="@Model["DefaultEmailSender"]" />
            <div class="modalpopheadertitle" style="margin-bottom: 20px;">
                Share with friends
            </div>
            <div id="divEmailPopupScrollContent" style="padding-right: 15px;">
                <form class="form-horizontal">
                <input type="hidden" id="hdnEmailFunctionalityType" value="result" />
                <div class="control-group">
                    @{
                        bool useCustomerEmailAsDefault = Convert.ToBoolean(Model["UseCustomerEmailAsDefault"]);
                    <label class="control-label" for="txtFromEmail">
                        @(useCustomerEmailAsDefault ? "Your" : "From") email</label>
                    <div class="controls">
                        <input type="text" id="txtFromEmail" placeholder="From Email" class="txtwidth90per" @(useCustomerEmailAsDefault ? "" : "readonly=\"readonly\"") />
                        <span class="help-inline" id="spanFromEmail" style="color: #FF0000; display: none;">
                        </span>
                    </div>
                    }
                </div>
                <div class="control-group">
                    <label class="control-label" for="txtToEmail">
                        Friend's email</label>
                    <div class="controls">
                        <input type="text" id="txtToEmail" placeholder="To Email (separate multiple addresses with semicolon, up to @ViewBag.MaxEmailAddresses addresses)"
                            class="txtwidth90per" />
                        <span class="help-inline" id="spanToEmail" style="color: #FF0000; display: none;">
                        </span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="txtBCCEmail">
                        BCC email</label>
                    <div class="controls">
                        <input type="text" id="txtBCCEmail" placeholder="BCC Email (separate multiple addresses with semicolon, up to @ViewBag.MaxEmailAddresses addresses)"
                            class="txtwidth90per" />
                        <span class="help-inline" id="spanBCCEmail" style="color: #FF0000; display: none;">
                        </span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="txtSubject">
                        Subject</label>
                    <div class="controls">
                        <input type="text" id="txtSubject" placeholder="Subject" class="txtwidth90per" />
                        <span class="help-inline" id="spanSubject" style="color: #FF0000; display: none;">
                        </span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="txtToEmail">
                        Message</label>
                    <div class="controls">
                        <textarea id="txtMessage" rows="5" cols="50" placeholder="Message" class="txtwidth90per"></textarea>
                        <span class="help-inline" id="spanMessage" style="color: #FF0000; display: none;
                            vertical-align: top"></span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="button" id="btnCancel" onclick="CancelEmailpopup();" class="cancelButton">
                            Cancel</button>
                        <button type="button" id="btnSendEmail" onclick="SendEmail();" class="button">
                            OK</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div id="divFeedsPage" class="modal fade hide resizable modalPopupDiv" style="width: 65%;
        height: 70%;">
        <div class="closemodalpopup">
            <img id="imgCloseIFramePopup" src="~/images/close-icon.png" alt="close" class="popup-top-close"
                onclick="CancelIFramePopup();" /></div>
        <div style="width: 99.5%; height: 99.5%; margin-left: 10px;" id="divFrameResize">
            <iframe id="iFrameFeeds" style="width: 100%; height: 100%;" src="" frameborder="0">
            </iframe>
        </div>
    </div>
    <div id="divThirdPartyPopup" class="modal fade hide resizable modalPopupDiv">
        <div class="closemodalpopup">
            <img id="imgCloseThirdPartyPopup" src="~/images/close-icon.png" alt="close" class="popup-top-close" onclick="CancelThirdPartyPopup();" />
        </div>
        <div style="padding: 20px 20px 0px 20px;">
            <div class="modalpopheadertitle" style="margin-bottom: 20px;">
                Select Third Party Data
            </div>
            <div>
                <ul id="ulThirdPartySeries" style="list-style:none;">
                @{
                    List<ThirdPartyDataTypeModel> dataTypes = ((List<ThirdPartyDataTypeModel>)Model["ThirdPartyDataTypes"]).Where(w => w.HasAccess).ToList();
                    if (dataTypes.Count > 0)
                    {
                        List<int> groupIDs = dataTypes.Select(s => s.GroupID).Distinct().ToList();
                        foreach (int groupID in groupIDs)
                        {
                            string groupName = dataTypes.First(s => s.GroupID == groupID).GroupName;
                            
                            <li style="margin-top:10px;">
                                <input id="chkThirdPartyGroup_@groupID" type="checkbox" style="margin-top:-3px;" name="chkThirdPartyGroup" value="@groupID" onclick="SelectThirdPartySeriesByGroup(this, @groupID);" />
                                <b>@(String.IsNullOrWhiteSpace(groupName) ? "Other" : groupName)</b>
                            </li>
                            
                            foreach (ThirdPartyDataTypeModel dataType in dataTypes.Where(w => w.GroupID == groupID))
                            {
                                <li class="margintop5 marginleft25">
                                    <input type="checkbox" style="margin-top:-3px;" name="chkThirdPartySeries_@groupID" value="@dataType.ID" @(dataType.IsSelected ? "checked" : "") onclick="SelectThirdPartySeries(this, @groupID);" />
                                    @dataType.DisplayName
                                </li>
                            }
                        }
                    }
                    else
                    {
                        <li style="font-weight:bold">You do not have access to any data sources.</li> 
                    }
                }
                </ul>
                <div style="margin:0px 0px 10px 10px;">
                    <button type="button" id="btnCancelThirdParty" onclick="CancelThirdPartyPopup();" class="cancelButton">
                        Cancel</button>
                    <button type="button" id="btnSaveThirdParty" onclick="SaveThirdPartySeries();" class="button">
                        Save</button>
                </div>
            </div>
        </div>
    </div>
    if (!string.IsNullOrEmpty(Request.QueryString["source"]))
    {
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="@Url.Content("~/Scripts/Bootstrap/bootstrap-transition.js?v=1.0")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Bootstrap/bootstrap-alert.js?v=1.0")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Bootstrap/bootstrap-modal.js?v=1.0")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Bootstrap/bootstrap-dropdown.js?v=1.0")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Bootstrap/bootstrap-scrollspy.js?v=1.0")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Bootstrap/bootstrap-tab.js?v=1.0")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Bootstrap/bootstrap-tooltip.js?v=1.0")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Bootstrap/bootstrap-popover.js?v=1.0")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Bootstrap/bootstrap-button.js?v=1.0")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Bootstrap/bootstrap-collapse.js?v=1.0")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Bootstrap/bootstrap-carousel.js?v=1.0")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Bootstrap/bootstrap-typeahead.js?v=1.0")" type="text/javascript"></script>
    <script src="~/Scripts/jquery.mCustomScrollbar.concat.min.js?v=1.1" type="text/javascript"></script>
    }
}
@Html.Partial("~/Views/Shared/_DashboardMediaSparkChart.cshtml")

