@model IQMedia.Model.CustomerModel
<script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js?v=1.0")" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.min.js?v=1.0" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js?v=1.0" type="text/javascript"></script>
<script src="~/Scripts/Bootstrap/bootstrap-dropdown.js?v=1.0" type="text/javascript"></script>
<script type="text/javascript">

    $(function () {
        $("#LoginID").focus();
        $('#liSignIn').siblings().removeClass('active')
        $('#liSignIn').addClass('active');
    });

    function CheckForm() {

        if ($('#frmLogin').valid()) {
            /* $('#btnLogin').attr('disabled', 'disabled');*/
            $('#imgLogInLoading').show();
        }
    }
    
</script>
<style type="text/css">
    .field-validation-error
    {
        display:none;
    }
    
    .input-validation-error
    {
        border:1px solid #FF0000;
    }
    
    .form-control.input-validation-error:focus
    {
        border:1px solid #FF0000;
    }
</style>
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", @id = "frmLogin" }))
{
    
@*<div class="header-right">
        <span class="clientLoginSpan">
            Client Login</span>
        <div class="clear">
            <div class="floatLeft">
                @Html.TextBoxFor(model => model.Email, new { style = "margin-right:-2px;" })
                @Html.ValidationMessageFor(model => model.Email, null, new { style = "color:red;float:left;" })
            </div>
            <div class="floatLeft">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password, null, new { style = "color:red;float:left;" })
            </div>
            <input type="submit" value="Log in" class="submit" />
        </div>
    </div>*@   
    
    <div class="form-group">
        <label class="control-label col-sm-4 col-lg-5" for="inputEmail">
            Email</label>
        <div class="col-sm-8 col-lg-4">
            @Html.TextBoxFor(model => model.LoginID, new { style = "", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.LoginID, null, new { @class = "field-validation-error" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-4 col-lg-5" for="inputPassword">
            Password</label>
        <div class="col-sm-8 col-lg-4">
            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password, null, new { @class = "field-validation-error" })
        </div>
    </div>
    <div class="form-group">
        <div class="controls">
            <div class="col-sm-8 col-sm-offset-4 col-lg-8 col-lg-offset-5" style="text-align:left;">
                <button type="submit" class="btn signinbtn" id="btnLogin" style="background:transparent; border-color:#fff;" onclick="CheckForm();">
                    Sign in</button>                
                <img alt="" id="imgLogInLoading" class="marginLeft10 displayNone" src="../../Images/Loading_1.gif" />
                <a href="~/Account/ResetPwd" style="font-size:16px;text-decoration:none;display:block;margin-top:5px;color:#fff;">Reset Password</a>
            </div>
        </div>
    </div>
    <div style="color: #A50000; font-size:15px; padding-bottom: 5px; line-height:0px;" class="controls">@ViewBag.Message</div>
    @Html.ValidationSummary(true)
}
