@using IQMedia.Model;
@model DiscoveryMediaResult
@if (Model != null)
{
    ActiveUser sessionInformation = IQMedia.WebApplication.Utility.ActiveUserMgr.GetActiveUser();
    string Month = Model.Date != null ? Model.Date.Value.ToString("MMM", System.Globalization.CultureInfo.InvariantCulture) : string.Empty;
    string Day = Model.Date != null ? Model.Date.Value.Day.ToString() : string.Empty;
    string authors = !String.IsNullOrEmpty(Model.ProQuestAuthors) ? "(" + Model.ProQuestAuthors + ") " : String.Empty;
  
    <div class="media displayNone">
        <div class="MediaDate">
            <div class="post-date">
                <span class="month">@Month</span>
                <div>
                    <span class="today">@Day</span>
                </div>
                <span class="timeWithTimeZone">&nbsp;</span>
            </div>
        </div>
        <div class="MediaTypeLogo" align="center">
            <img src="@ViewData["MediaIconPath"]" title="@ViewData["MediaTypeDescription"]" />
        </div>
        <div class="pull-right">
            <input type="checkbox" onclick="CheckUncheckMasterCheckBox(this,'divResult','chkInputAll');" id="ckhPQ_@Model.ArticleID" value="@Model.ArticleID,@ViewData["SubMediaType"]" />
        </div>
        <div class="FeedsContentNone">
            <div class="float-left media-heading">
                <a target="_blank" onclick="ShowViewArticleDiscovery('@Model.ArticleID');return false;" class="cursorPointer" title="@Model.Title.Trim()">
                    @ViewData["Title"]
                </a>
            </div>
            <div class="subheading float-left margintop1" >
                @Model.timeDifference
            </div>
            <div class="clear float-left media-body">
                @Html.Raw(ViewData["Body"])
            </div>
        </div>
        <div class="clear post-divider" />
        <div class="clear margintop2 marginbottom2">
            <div class="FeedsActionBarLeftDiv">
                <div class="viewmore" style="min-height:1px">
                    <!--min-height needed to force expand div-->
                    <!--discovery model has no isRead or children-->
                </div>
                <div class="viewlocation">
                    <div class="">
                        @if (!string.IsNullOrWhiteSpace(ViewData["Publication"].ToString()))
                        {
                            var Journal = ViewData["Publication"].ToString().Trim() + authors.Trim();
                            
                            <div class="location-tag" title="@Journal">
                                @(Journal.Length > 23 ? Journal.Substring(0, 21) + "..." : Journal)
                            </div>
                        }
                        else
                        {
                            <div align="center" class="margintop2" />
                        }
                    </div>
                </div>
                <div class="viewsentiment" title="Sentiment">
                    <div class="sentimentLeftFloat sentiment-tag">
                        <div class="divSentimentMain sentimentFont">
                            <div class="divSentimentNeg">
                                <div style='width:@ViewData["MaxNegativeSentimentWidth"]'>
                                    @Model.NegativeSentiment
                                </div>
                            </div>
                            <div class="divSentimentPos">
                                <div style='width:@ViewData["MaxPositiveSentimentWidth"]'>
                                    @Model.PositiveSentiment
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="FeedsActionBarRightDiv minWidth52IE8">
                <div class="detailIcon">
                    <a class="cursorPointer saveMedia saveArticle" title="Save Article" onclick="ShowSaveArticleDiscovery('@Model.ArticleID',this.id,'@ViewData["SubMediaType"]','@Model.SearchTerm.Replace("\"", "\\\"").Replace("'", "\\'")');return false;" target="_blank" id="aSavePQ_@Model.ArticleID" />
                </div>
                <div class="detailIcon">
                    <a class="cursorPointer viewArticle" title="View Article" onclick="ShowViewArticleDiscovery('@Model.ArticleID');return false;" target="_blank" />
                </div>
                <div class="detailIcon">
                    <!--Padding on the right-->
                    <div align="center" class="margintop2" />
                </div>
            </div>
        </div>
    </div>
}