@model List<IQMedia.Model.CustomerModel>

<style type="text/css">
    .topResult
    {
        font-size: 11px;
        border: 1px solid #D8D8D8;
    }
    
    .topResult tr th
    {
        padding: 4px;
    }
    
    .topResult tr th, .topResult tr td
    {
        padding: 5px 2px;
    }
</style>
<div style="clear: both;">
</div>
@if (Model != null && Model.Count > 0)
{
    <div id="divCustomers_ScrollContent" >
        <div class="float-left" style="padding-right: 15px;margin-bottom:10px;">
            <table class="topResult" width="100%" cellpadding="0" cellspacing="0" style="margin-top: 15px;">
                @{ bool IsHeader = false; }
                @foreach (IQMedia.Model.CustomerModel item in Model)
                {
                    if (!IsHeader)
                    {
                    <tr>
                        @{IsHeader = true; }
                        <th style="text-align: center; width: 5%">
                        </th>
                        <th style="text-align: center; width: 5%">
                        </th>
                        <th style="text-align: left;">
                            Customer Name
                        </th>
                        <th style="text-align: left;">
                            Email
                        </th>
                        <th style="text-align: left;">
                            Login ID
                        </th>
                        <th style="text-align: left;">
                            Contact No.
                        </th>                        
                        <th style="text-align: left;">
                            Customer Comment
                        </th>
                        <th style="text-align: right;">
                            ClientID
                        </th>
                        @foreach (string key in item.CustomerRoles.Keys)
                        {
                            <th style="text-align: left;">
                                <div class="rotate">@key</div>
                            </th>
                        }
                        <th style="text-align: left;">
                            <div class="rotate">
                                MultiLogIn</div>
                        </th>
                        <th style="text-align: left;">
                            <div class="rotate">
                                IsActive</div>
                        </th>
                    </tr>
                    }
                    <tr>
                        <td style="text-align: center;">
                            <a href="javascript:void(0);" onclick="GetCustomerRegistration(@item.CustomerKey)" >
                                Edit</a>
                        </td>
                        <td style="text-align: center;">
                            <a href="javascript:void(0);" onclick="DeleteCustomer(@item.CustomerKey, '@(item.FirstName.Replace("'", "\\'"))', '@(item.LastName.Replace("'", "\\'"))')" >Delete</a>
                        </td>
                        <td style="text-align: left;">
                            @item.FirstName @item.LastName
                        </td>
                        <td style="text-align: left;">
                            @item.Email
                        </td>
                        <td style="text-align: left;">
                            @item.LoginID
                        </td>
                        <td style="text-align: left;">
                            @item.ContactNo
                        </td>                        
                        <td style="text-align: left;">
                            @item.Comment
                        </td>
                        <td style="text-align: right;">
                            @item.ClientID
                        </td>
                        @foreach (string key in item.CustomerRoles.Keys)
                        {
                            <td style="text-align: left;">
                                <input type="checkbox" disabled="disabled" checked="@item.CustomerRoles[key]" />
                            </td>
                        }
                        <td style="text-align: left;">
                            <input type="checkbox" disabled="disabled" checked="@item.MultiLogin" />
                        </td>
                        <td style="text-align: left;">
                            @item.IsActive
                        </td>
                    </tr> 
                }
            </table>
        </div>
    </div>
}
else
{
    <table width="100%" style="text-align: center;">
        <tr>
            <td>
                <span style="background: none repeat scroll 0 0 #F2F2F2; border: 1px solid #DCDCDC;
                    margin-bottom: 10px; margin-right: 10px; padding: 3px 10px 3px 6px; position: relative;
                    width: 300px !important;">No Results found</span>
            </td>
        </tr>
    </table>
}