@model List<IQMedia.Model.fliQ_CustomerApplicationModel>

<style type="text/css">
    .topResult
    {
        font-size: 11px;
        border: 1px solid #D8D8D8;
    }
    
    .topResult tr th
    {
        padding: 4px;
    }
    
    .topResult tr th, .topResult tr td
    {
        padding: 5px 2px;
    }
</style>
<div style="clear: both;">
</div>
@if (Model != null && Model.Count > 0)
{
    <div id="divFliq_CustomerApplication_ScrollContent" >
        <div class="float-left width100p" style="padding-right: 15px;margin-bottom:10px;">
            <table class="topResult" width="100%" cellpadding="0" cellspacing="0" style="margin-top: 15px;">
                @{ bool IsHeader = false; }
                @foreach (IQMedia.Model.fliQ_CustomerApplicationModel item in Model)
                {
                    if (!IsHeader)
                    {
                    <tr>
                        @{IsHeader = true; }
                        <th style="text-align: center; width: 5%">
                        </th>
                        <th style="text-align: center; width: 5%">
                        </th>
                        <th style="text-align: left;">
                            Application Name
                        </th>
                        <th style="text-align: left;">
                            Customer Name
                        </th>
                        <th style="text-align: left;">
                            IsActive
                        </th>
                    </tr>
                    }
                    <tr>
                        <td style="text-align: center;">
                            <a href="javascript:void(0);" onclick="GetFliq_CustomerApplicationRegistration(@item.ID)" >
                                Edit</a>
                        </td>
                        <td style="text-align: center;">
                            <a href="javascript:void(0);" onclick="DeleteFliq_CustomerApplication(@item.ID)" >Delete</a>
                        </td>
                        <td style="text-align: left;">
                            @item.Application
                        </td>
                        <td style="text-align: left;">
                            @item.CustomerFirstName @item.CustomerLastName
                        </td>
                        <td style="text-align: left;">
                            @item.IsActive
                        </td>
                    </tr> 
                }
            </table>
        </div>
    </div>
}
else
{
    <table width="100%" style="text-align: center;">
        <tr>
            <td>
                <span style="background: none repeat scroll 0 0 #F2F2F2; border: 1px solid #DCDCDC;
                    margin-bottom: 10px; margin-right: 10px; padding: 3px 10px 3px 6px; position: relative;
                    width: 300px !important;">No Results found</span>
            </td>
        </tr>
    </table>
}