@model List<IQMedia.Model.fliQ_ClientApplicationModel>
<style type="text/css">
    .topResult
    {
        font-size: 11px;
        border: 1px solid #D8D8D8;
    }
    
    .topResult tr th
    {
        padding: 4px;
    }
    
    .topResult tr th, .topResult tr td
    {
        padding: 5px 2px;
    }
</style>
<div style="clear: both;">
</div>
@if (Model != null && Model.Count > 0)
{
    <div id="divFliq_ClientApplication_ScrollContent">
        <div class="float-left width100p" style="padding-right: 15px; margin-bottom: 10px;">
            <table class="topResult" width="100%" cellpadding="0" cellspacing="0" style="margin-top: 15px;">
                @{ bool IsHeader = false; }
                @foreach (IQMedia.Model.fliQ_ClientApplicationModel item in Model)
                {
                    if (!IsHeader)
                    {
                    <tr>
                        @{IsHeader = true; }
                        <th style="text-align: center; width: 5%">
                        </th>
                        <th style="text-align: center; width: 5%">
                        </th>
                        <th style="text-align: left;">
                            Application Name
                        </th>
                        <th style="text-align: left;">
                            Client Name
                        </th>
                        <th style="text-align: left;">
                            FTP Host
                        </th>
                        <th style="text-align: left;">
                            FTP Path
                        </th>
                        <th style="text-align: left;">
                            FTP Login
                        </th>
                        <th style="text-align: left;">
                            FTP Password
                        </th>
                        <th style="text-align: left;">
                            Default Category
                        </th>
                        <th style="text-align: right;">
                            Max Video Duration
                        </th>
                        <th style="text-align: left;">
                            Capture Landscape Only
                        </th>
                        <th style="text-align: left;">
                            Is Category Enabled
                        </th>
                        <th style="text-align: left;">
                            Is Active
                        </th>
                    </tr>
                    }
                    <tr>
                        <td style="text-align: center;">
                            <a href="javascript:void(0);" onclick="GetFliq_ClientApplicationRegistration(@item.ID)" >
                                Edit</a>
                        </td>
                        <td style="text-align: center;">
                            <a href="javascript:void(0);" onclick="DeleteFliq_ClientApplication(@item.ID)" >Delete</a>
                        </td>
                        <td style="text-align: left;">
                            @item.Application
                        </td>
                        <td style="text-align: left;">
                            @item.ClientName
                        </td>
                        <td style="text-align: left;">
                            @item.FTPHost
                        </td>
                        <td style="text-align: left;">
                            @item.FTPPath
                        </td>
                        <td style="text-align: left;">
                            @item.FTPLoginID
                        </td>
                        <td style="text-align: left;">
                            @item.FTPPwd
                        </td>
                        <td style="text-align: left;">
                            @item.CategoryName
                        </td>
                        <td style="text-align: right;">
                            @item.MaxVideoDuration
                        </td>
                        <td style="text-align: left;">
                            @item.IsLandscapeOnly
                        </td>
                        <td style="text-align: left;">
                            @item.IsCategoryEnable
                        </td>
                        <td style="text-align: left;">
                            @item.IsActive
                        </td>
                    </tr> 
                }
            </table>
        </div>
    </div>
}
else
{
    <table width="100%" style="text-align: center;">
        <tr>
            <td>
                <span style="background: none repeat scroll 0 0 #F2F2F2; border: 1px solid #DCDCDC;
                    margin-bottom: 10px; margin-right: 10px; padding: 3px 10px 3px 6px; position: relative;
                    width: 300px !important;">No Results found</span>
            </td>
        </tr>
    </table>
}